# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside
*.xccheckout

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# macOS
.DS_Store

# iOS / watchOS
*.ipa
*.dSYM.zip
*.dSYM
Pods/
